#set ($subject = $msg.get("Password.Creation.Title"))
#if ($subject == "Password.Creation.Title") 
Profile Created
#else
$subject
#end
Profile created
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$subject</title>
<style type="text/css">
body {background-color: #F6F6F6;}
</style>
</head>
<body>
<table cellpadding="0" border="0" cellspacing="0" style="width: 100%; height: 100%" align="center">
<tr>
<td style="background-color: #F6F6F6; text-align: center;height: 100%; vertical-align: top">
<br />
<table cellpadding="0" border="0" cellspacing="0" style="width: 650px; background-color: #FFFFFF;" align="center">
<tr>
<td style="text-align: left; padding: 0 35px 25px 35px;border: solid 1px #e0e0e0;">
<p style="text-align:right; margin:0;"><img src="http://media.kulula.com/theme/shared/images/hdr/kulula-logo.gif" alt="kulula.com" title="kulula.com"/></p>

<p>
<span style="font-family: Arial, Verdana, Helvetica;font-size: 12px; color: #666666;">
<b>Hi $User.firstName,</b><br />
<br />
<span style="font-size: 22px;">congratulations on creating your kulula ID with us</span><br />
<br />
We'll keep your details safe and rest assured we will not be sharing your details with anyone.<br />
Below is your kulula ID which means you'll need to keep this email close so you don't forget it. <br />
</span>
</p>
<table cellpadding="5" border="0" cellspacing="0" style="width: 100%">
<tr>
<td colspan="2" style="font-family: Arial, Verdana, Helvetica;font-size: 20px; color: #00BBE4;"><b>remember me</b></td>
</tr>
<tr>
<td style="font-family: Arial, Verdana, Helvetica;font-size: 12px;background-color: #9ace8e; color: #FFFFFF; font-weight: bold; border: solid 1px #FFFFFF; width: 60px">kulula ID</td>
<td style="font-family: Arial, Verdana, Helvetica;font-size: 12px;background-color: #f3f3f3; color: #666666; font-weight: bold; border: solid 1px #FFFFFF;">$User.username</td>
</tr>
<tr>
<td style="font-family: Arial, Verdana, Helvetica;font-size: 12px;background-color: #9ace8e; color: #FFFFFF; font-weight: bold; border: solid 1px #FFFFFF; width: 60px; ">password</td>
<td style="font-family: Arial, Verdana, Helvetica;font-size: 12px;background-color: #f3f3f3; color: #666666; font-weight: bold; border: solid 1px #FFFFFF;">Expect to receive a separate email with your password that you can change to something you prefer.</td>
</tr>
</table>
<p>
<span style="font-family: Arial, Verdana, Helvetica;font-size: 12px; color: #666666;">

<br />
<b>To login to your profile</b>, sign in here
<a href="$loginUrl" style="text-decoration: none;color: #8cc63f;">$loginUrl</a><br />
<br />
<br />
<span style="font-size: 16px; color: #999999"><b>So, you have a kulula ID, now what?</b></span><br />
<br />
</span>
<ul>
<li style="font-family: Arial, Verdana, Helvetica;font-size: 12px; color: #666666;">We'll remember your details for the next time you log in and book a flight, which means you spend less time filling in your details while booking.</li>
<li style="font-family: Arial, Verdana, Helvetica;font-size: 12px; color: #666666;">You can access your latest booking by logging into Virtually There. <a href="https://www.virtuallythere.com/kulula" style="text-decoration: none; color: #8cc63f;">https://www.virtuallythere.com/kulula</a></li>
</ul>
<span style="font-family: Arial, Verdana, Helvetica;font-size: 12px; color: #666666;">
<br />
This is an automatically generated email, if you need to contact us please call 
the Contact Centre on <span style="color: #72cbcb; font-weight: bold;">0861&nbsp;KULULA&nbsp;(585852)</span>.
<br /><br />
happy flying,<br />
<a href="https://www.kulula.com" style="text-decoration: none; color: #8cc63f;">kulula.com</a><br />
<br />
</span>
</p>
<span style="font-family: Arial, Verdana, Helvetica;font-size: 12px; color: #666666;">
<hr style="border: 0;border-top: solid 1px #e0e0e0; " />
<center><a href="https://www.kulula.com" style="text-decoration: none; color: #8cc63f;">kulula.com</a> is a division of Comair Limited. PO Box 7015 Bonaero Park, 1622. 
<br />&#169; Copyright 2012. All rights reserved.</center>
</span
</td>
</tr>
</table>
<br /><br />
</td>
</tr>
</table>
</body>
</html>
