Profile Created
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>FIRST AIR - Nouveau Profil Créé</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
body, p { font: 10pt Verdana; }
</style>
</head>
<body>
Cher/chère $User.firstName $User.lastName,
<br><br>
Ceci est votre mot de passe de profil pour First Air.
<br><br>
Votre mot de passe est: $User.password
<br><br>
Votre mot de passe sont confidentiels et ne doivent pas être partagés avec d'autres. Votre profil et mot de passe permettent d'accéder à vos informations personnelles. Il est de votre responsabilité de protéger votre nom d'utilisateur et mot de passe.
<br><br>
S'il vous plaît essayez de vous rappeler votre mot de passe. Si ce n'est pas de revenir encore et nous vous enverrons un autre email.
<br><br>
Merci.
<br><br>
* Ceci est un système de messagerie automatisé. S'il vous plaît ne pas répondre. Si vous avez des préoccupations au sujet de ce message ou si vous avez reçu ce message par erreur, s'il vous plaît contactez-nous au 1-800-267-1247.
</body>
</html>
