Password Reset Notification
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Vietnam Airlines - Golden Lotus Plus :: Password Reset Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div align="left" style="border:none;font-family:Arial, Helvetica, sans-serif;">
<table width="800" border="0" cellpadding="0" cellspacing="0" bgcolor="#F9F4E6" style="background-color:#F9F4E6;border:none;font-family:Arial, Helvetica, sans-serif;">
	<tr>
		<td colspan="7" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><img src="http://e-newsletter.vietnamair.com.vn/enewsletter/img/ec/ec-20120924-vna_logo.jpg" border="0" style="width:800px;height:100px;border-width:0px;margin:0px 0px 0px 0px;display:block;" /></td>
	</tr>
	<tr>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td colspan="5" width="790" style="border-spacing:0px;"><p style="font-size:5px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>
	<tr>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
		<td colspan="2" align="right" style="border-spacing:0px;"><p align="right" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;"><a href="http://www.vietnamairlines.com" target="_blank" style="font-size: 16px; color: #008ccc; background: none; text-decoration: none;">www.vietnamairlines.com</a></p></td>
		<td width="180" align="center" style="border-spacing:0px;"><p align="center" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;"><a href="http://www.vietnamairlines.com/wps/portal/vn/site/" target="_blank" style="font-size: 16px; color: #008ccc; background: none; text-decoration: none;">Book Your Trip</a></p></td>
		<td colspan="2" align="left" style="border-spacing:0px;"><p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;"><a href="http://www.vietnamairlines.com/wps/portal/vn/site/promotions/" target="_blank" style="font-size: 16px; color: #008ccc; background: none; text-decoration: none;">Promotion</a></p></td>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>
	<tr>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td colspan="5" width="790" style="border-spacing:0px;"><p style="font-size:5px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>
	<tr>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
		<td colspan="5" width="790" style="border-spacing:0px;" align="center"><img src="http://e-newsletter.vietnamair.com.vn/enewsletter/img/ec/ec-20120924-px1_790x1.jpg" border="0" style="width:790px;height:1px;border-width:0px;margin:0px 0px 0px 0px;display:block;" /></td>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>
	<tr>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td colspan="5" width="790" style="border-spacing:0px;"><p style="font-size:25px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>

	<tr>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="45" style="border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
		<td colspan="3" width="700" style="border-spacing:0px;">
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;"><b>Dear <span style="text-transform:capitalize;">$User.title</span> $User.firstName $User.lastName,</b></p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">&nbsp;</p>
			<p align="justify" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">Please click the link Reset Password below to reset your password:</p>
			<p align="left" style="font-size:10px;color:#000000;margin:0px 1px 0px 1px;">&nbsp;</p>
			<p align="justify" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">&bull; <a href="$B2BURLPasswordReset$Key" style="font-size:14px;color:#008ccc;background:none;text-decoration:none;" title="" target="_blank">Reset Password</a></p>
			<p align="left" style="font-size:10px;color:#000000;margin:0px 1px 0px 1px;">&nbsp;</p>
		  <p align="justify" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">In order to safeguard your data, please change this password within 24 hours.</p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">&nbsp;</p>
			<p align="justify" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">We look forward to welcoming you on our flights.</p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">Yours sincerely,</p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">&nbsp;</p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;"><b>Golden Lotus Plus – Vietnam Airlines</b></p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">200 Nguyen Son Str, Long Bien Dist, Ha Noi, Viet Nam.</p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">Website: <a href="http://www.vietnamairlines.com" style="font-size: 14px;color #008ccc;background:none;text-decoration:none;" title="Vietnam Airlines" target="_blank">www.vietnamairlines.com</a></p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">Email:&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:glp@vietnamairlines.com" style="font-size:14px;color:#008ccc;background:none;text-decoration:none;" title="Vietnam Airlines" target="_blank">glp@vietnamairlines.com</a></p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">Tel: +844 38 730314 (office hours)</p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">Fax: +844 38 273003</p>
			<p align="left" style="font-size:14px;color:#000000;margin:2px 1px 0px 1px;">For <i>Platinum and Gold members:</i></p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">Tel: +844 38 738738 (office hours)</p>
			<p align="left" style="font-size:14px;color:#000000;margin:0px 1px 0px 1px;">Email:&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:premium.glp@vietnamairlines.com" style="font-size:14px;color:#008ccc;background:none;text-decoration:none;" title="Vietnam Airlines" target="_blank">premium.glp@vietnamairlines.com</a></p>

    	<td width="45" style="border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>
	<tr>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td colspan="5" width="790" style="border-spacing:0px;">
        	<p style="font-size:30px;margin:0px 0px 0px 0px;">&nbsp;</p>
		</td>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>
	<tr>
    	<td colspan="7" width="800" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:15px;color:#006d98;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>
	<tr>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="45" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="435" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="180" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="85" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="45" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
    	<td width="5" bgcolor="#006d98" style="background-color:#006d98;border-spacing:0px;"><p style="font-size:1px;margin:0px 0px 0px 0px;">&nbsp;</p></td>
	</tr>
</table>
</div>
</body>
</html>
