Profile Created
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Profile Created</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
body, p { font: 10pt Verdana; }
</style>
</head>
<body>
친애하는 $User.firstName $User.lastName, <br>

축하합니다. 프로필이 성공적으로 만들어졌습니다. <br>
비밀 번호는 : $User.password 입니다. <br>
비밀 번호를 별도로 기록해 주시기 바랍니다. . 귀하가 추후 웹사이트에 접속해 예약을 하거나, 귀하의 계정을 업데이트하기 위해서 필요합니다. 비밀 번호를 잊으신 경우, 귀하는 웹사이트의 비밀번호 확인 기능을 이용하실 수 있습니다. <br>

귀하를 모시게 될 것을 고대합니다.. <br>
베트남 항공 드림, <br>

골든 로터스 플러스 - 베트남 항공<br>
200 Nguyen Son Str, Long Bien Dist, Ha Noi, Viet Nam. <br>
웹사이트 : http://www.vietnamairlines.com <br>
이메일 : glp@vietnamairlines.com <br>
전화 번호 : 844 38 730,314 (근무 시간) <br>
팩스 번호 : 844 38 273,003 <br>
플래티넘과 골드 회원의 경우 : <br>
전화 번호 : 844 38 738,738 (근무 시간) <br>
이메일 : premium.glp@vietnamairlines.com <br>

 <br>


</body>
</html>

