#set ($subject = $msg.get("PasswordReset.Notification.Subject"))
#if ($subject == "PasswordReset.Notification.Subject") 
Ethiopian Airlines Password Reset Notification
#else
$subject
#end

#if ($User.title == "MR")
  #set($userTitle = "Mr")
#elseif ($User.title == "MRS")
  #set($userTitle = "Mrs")
#elseif ($User.title == "MISS")
  #set($userTitle = "Miss")
#elseif ($User.title == "MS")
  #set($userTitle = "Ms")
#elseif ($User.title == "DR")
  #set($userTitle = "Dr")
#else 
  #set($userTitle = $User.title)  
#end
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>$msg.get("PasswordReset.Notification.Title")</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
body, p { font: 10pt Verdana; }
</style>
</head>
<body>
<p>Dear $!userTitle $User.firstName $User.lastName,</p>
<p>Please click the link below to reset your password:</p>
<p><a href="$B2BURLPasswordReset$Key">$B2BURLPasswordReset$Key</a></p>
<p>In order to safeguard your data, please change this password within 24 hours.</p>
</body>
</html>
